<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GwentTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="texturePath" value="https://rfvgyhn.blob.core.windows.net/gwent/{0}.png"/>
    <add key="defaultSavePath" value="data"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <GwentTracker.Properties.Settings>
            <setting name="AutoLoad" serializeAs="String">
                <value>True</value>
            </setting>
        </GwentTracker.Properties.Settings>
    </userSettings>
</configuration>