<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="texturePath" value="https://rfvgyhn.blob.core.windows.net/gwent/{0}.png"/>
    <add key="defaultSavePath" value="data"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>